---
import { getCollection } from "astro:content";

import Aside from "../_components/aside.astro";
import { CategoryFeed } from "../_components/feed";
import LatestPost from "../_components/latest-post.astro";

import { Grid, Section } from "~/components/ui";
import Layout from "~/components/ui/layout.astro";
import { getTranslations, locales } from "~/lib";
import { filterByCategory } from "~/lib/filters";
import { sortByDate } from "~/lib/sort";

export const getStaticPaths = async () => {
	const categories = await getCollection("categories");

	return locales.flatMap((lang) =>
		categories.map((c) => ({
			params: { lang, category: c.id },
		})),
	);
};

const { lang, category } = Astro.params;

if (!lang || !category) throw new Error("Unreachable");

const t = getTranslations(lang);

const latest = await getCollection("blog", filterByCategory(lang, category))
	.then(sortByDate)
	.then((x) => x[0]);
---

<Layout>
	<Section className="mx-8 h-auto py-2 lg:h-auto">
		<Grid className="grid-cols-1 lg:grid-cols-12">
			<Aside />

			<Grid className="col-span-8 grid-cols-1 lg:grid-cols-3">
				{latest && <LatestPost post={latest} />}

				<CategoryFeed
					client:load
					lang={lang}
					category={category}
					moreSoonLabel={t("blog.more-soon")}
				/>
			</Grid>
		</Grid>
	</Section>
</Layout>
