---
import BackgroundImage from "./background-image.astro";
import LatestBlogPost from "./latest-blogpost.astro";

import { Text, Section as SectionLayout, Center } from "~/components/ui";
import { siteInfo, getTranslations } from "~/lib";

const currentYear = new Date(Date.now()).getFullYear();

const t = getTranslations(Astro.params.lang);
---

<SectionLayout className="relative">
	<BackgroundImage />

	<Center direction="col" className="z-[1] gap-y-4">
		<LatestBlogPost />

		<Text.H1
			gradient="to-bottom-left"
			align="center"
			className="from-off-white-300 to-off-white-100"
		>
			<span>{t("index.landing.we-are")}</span>

			<br class="hidden lg:block" />

			<Center>
				<span>{siteInfo.name}</span>

				<span class="hidden font-jetbrains-mono lg:inline-flex">
					<span>[</span>
					<Text.P
						gradient="to-top"
						className="from-brand to-brand-secondary font-jetbrains-mono"
					>
						{currentYear}
					</Text.P>
					<span>]</span>
				</span>
			</Center>
		</Text.H1>

		<Text.P className="text-center text-lg text-text-secondary">
			{t("index.landing.subtitle")}
		</Text.P>
	</Center>
</SectionLayout>
