@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--off-white-100: 0 0% 97.3%;
		--off-white-200: 228 2% 50%;
		--off-white-900: 231.4 7.4% 18.6%;

		--brand: 27.2 90.8% 46.7%;
		--brand-secondary: 38.9 90.8% 46.7%;

		--background: 240 7.7% 5.1%;

		--foreground: 180 6.7% 97.1%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 222.9 18.9% 7.3%;
		--popover-foreground: 180 6.7% 97.1%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 231.4 7.5% 18.2%;
		--input: 231.4 7.5% 18.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 27.2 90.8% 46.7%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
