---
import Layout from "~/components/ui/layout.astro";
import { generateStaticPaths } from "~/lib";

export const getStaticPaths = generateStaticPaths;
---

<!-- TODO translate -->
<Layout title="Blog">
	<h1>blog</h1>
</Layout>
