---
import { cn } from "~/lib";
---

<div
	class={cn(
		"bg-gradient",
		"pointer-events-none absolute inset-0 select-none overflow-visible",
	)}
>
</div>

<style>
	.bg-gradient::before {
		--page-edge: calc((100vw - 1200px) / 2);
		content: "";
		position: absolute;
		opacity: 0.25;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) translateZ(0px);
		width: calc(100vw - 50px);
		height: 100vh;
		filter: blur(80px);
		background: radial-gradient(
				400px circle at calc(100% - var(--page-edge) - 10%) 45%,
				hsl(var(--brand-secondary)),
				70%,
				transparent
			),
			radial-gradient(400px circle at 50% 55%, hsl(var(--brand)), 60%, transparent),
			radial-gradient(
				350px circle at calc(var(--page-edge) + 15%) 40%,
				#0c0c0e,
				60%,
				transparent
			);
	}
</style>
