---
import Logo from "./logo.astro";
import DesktopNav from "./navigation/desktop-nav.astro";
import { MobileNav } from "./navigation/mobile-nav";

import { Flex } from "~/components/ui";
import { cn, getTranslations, navLinks, toLocale } from "~/lib";
import type { Theme } from "~/lib/theme";

export type Props = {
	theme?: Theme | undefined;
};

const { theme = "default" } = Astro.props;

const locale = toLocale(Astro.params.lang);
const pathname = Astro.url.pathname;

const t = getTranslations(locale);

const navLinkslabels = navLinks.map((link) => t(link.label));
const translateLabel = t("mobileNav.languages");
const madeByLabel = t("footer.madeBy");
---

<header class="sticky inset-0 z-20">
	<div
		class={cn(
			"bg-gradient-to-b to-transparent px-6 pb-4 pt-6 lg:px-16 lg:pt-8 lg:backdrop-blur-md",
			{
				"from-off-white-300": theme === "form",
				"from-background": theme === "default",
			},
		)}
	>
		<DesktopNav theme={theme} />

		<Flex alignment="center/between" className="lg:hidden">
			<Logo />

			<MobileNav
				client:idle
				pathname={pathname}
				locale={locale}
				labels={{
					navLinks: navLinkslabels,
					translate: translateLabel,
					madeBy: madeByLabel,
				}}
			/>
		</Flex>
	</div>
</header>
