---
import { useTranslations, navLinks } from "~/lib";
import Logo from "./logo.astro";
import DesktopNav from "./navigation/desktop-nav.astro";
import { MobileNav } from "./navigation/mobile-nav";
import { Flex } from "~/components/ui";

const t = useTranslations();

const navLinkslabels = navLinks.map((link) => t(link.label));
const translateLabel = t("mobileNav.languages");
---

<header class="sticky inset-0 z-20">
	<div
		class="bg-gradient-to-b from-background to-transparent px-6 pb-4 pt-6 lg:px-16 lg:pt-8 lg:backdrop-blur-md"
	>
		<DesktopNav />

		<Flex alignment="center/between" className="lg:hidden">
			<Logo />

			<MobileNav
				client:idle
				labels={{ navLinks: navLinkslabels, translate: translateLabel }}
			/>
		</Flex>
	</div>
</header>
