---
import { ArrowRight } from "lucide-react";

import { Button, Link, Text } from "~/components/ui";
---

<!-- TODO use latest blog post -->
<Button
	as={Link.Nav}
	href="/blog/hello-world"
	variant="darker"
	size="wide"
	rounded
	className="group gap-x-3 transition-all duration-300 hover:scale-105"
>
	<!-- TODO translate -->
	<Text.Subtitle align="center">Blog</Text.Subtitle>

	<span class="text-base text-dark-blue-200">•</span>

	<Text.P>Hello world</Text.P>
	<ArrowRight className="transition-all group-hover:translate-x-3" />
</Button>
