---
import BackgroundImage from "./background-image.astro";
import LatestBlogPost from "./latest-blogpost.astro";

import { Text, Section as SectionLayout, Center } from "~/components/ui";
import { siteInfo, getTranslations } from "~/lib";

const currentYear = new Date(Date.now()).getFullYear();

const t = getTranslations();
---

<SectionLayout className="relative">
	<BackgroundImage />

	<Center direction="col" className="z-[1] gap-y-4">
		<LatestBlogPost />

		<Text.H1
			gradient="to-top-left"
			className="from-off-white-300 to-off-white-100 text-center font-inter text-5xl font-bold leading-tight tracking-tight lg:text-7xl"
		>
			<span>{t("index.landing.we-are")}</span>

			<br class="hidden lg:block" />

			<Center>
				<span>{siteInfo.name}</span>

				<span class="hidden font-jetbrains-mono lg:inline-flex">
					<p>[</p>
					<Text.P
						gradient="to-top"
						className="from-brand to-brand-secondary font-jetbrains-mono"
					>
						{currentYear}
					</Text.P>
					<p>]</p>
				</span>
			</Center>
		</Text.H1>

		<p class="text-lg text-text-secondary">{t("index.landing.subtitle")}</p>
	</Center>
</SectionLayout>
