---
import { getCollection } from "astro:content";

import { Categories } from "./categories";

import { BorderedContainer } from "~/components/bordered-container";
import { Text } from "~/components/ui";
import { getTranslations, toLocale } from "~/lib";

const locale = toLocale(Astro.params.lang);
const t = getTranslations(locale);

const categories = (await getCollection("categories")).map((c) => ({
	slug: c.id,
	label: t(`categories.${c.id}`),
}));
---

<aside class="col-span-4">
	<BorderedContainer className="px-8 ring-1 ring-border lg:h-screen lg:py-16">
		<Text.H1 className="mb-8">{t("navLink.blog")}</Text.H1>

		<Text.Small className="text-text-secondary">
			{t("blog.subtitle")}
		</Text.Small>

		<Text.Small className="text-text-secondary [text-wrap:wrap]">
			{t("blog.description.1")} -~=*
			<em class="text-brand">{t("blog.description.2")}</em>
			*=~- {t("blog.description.3")}
		</Text.Small>

		<div class="mt-16">
			<Categories
				client:idle
				locale={locale}
				categories={categories}
				label={t("blog.categories.label")}
			/>
		</div>
	</BorderedContainer>
</aside>
