---
import { getImage } from "astro:assets";
import { ArrowRight, Bot } from "lucide-react";

import { Carousel } from "./carousel";

import {
	Button,
	Card,
	Center,
	Flex,
	Grid,
	Link,
	Section as SectionLayout,
	Text,
	VStack,
} from "~/components/ui";
import { cn, getTranslations } from "~/lib";

const images = await Promise.all(
	(
		await Astro.glob<{ default: ImageMetadata }>("~/assets/gallery/*")
	).map((x) => getImage({ src: x.default, format: "webp" })),
);

const lang = Astro.params.lang;
const t = getTranslations(lang);
---

<!-- TODO add content --><!-- TODO extract repetitive text styling -->
<SectionLayout
	className={cn("bg-gradient", "h-auto mx-6 lg:mt-32 lg:h-[90vh] rounded-b-3xl")}
>
	<VStack alignment="center/start" className="gap-20 pb-8">
		<!-- {images.map((img) => <Image src={img} alt="" />)} -->
		<Flex
			stretch="width"
			className="flex-col items-center gap-4 lg:flex-row lg:items-start"
		>
			<Center className="mx-auto rounded-xl border-2 border-border lg:m-1">
				<Center
					className="m-1 rounded-lg bg-gradient-to-br from-brand-secondary to-brand p-4 ring-2 ring-brand-secondary/20"
				>
					<Bot className="h-10 w-10 drop-shadow-md" />
				</Center>
			</Center>

			<VStack alignment="start/center" className="gap-4">
				<Text.H2
					gradient="to-bottom"
					align="center"
					className="mx-auto from-off-white-300 to-off-white-100 lg:max-w-xl lg:text-left"
				>
					{t("index.section-3.title")}
				</Text.H2>

				<Text.Small className="mx-auto text-base lg:m-0">
					{t("index.section-3.subtitle")}
				</Text.Small>
			</VStack>
		</Flex>

		<Grid
			cols={12}
			className="mx-4 mb-6 gap-6 lg:mx-0 lg:mb-0 lg:aspect-[2/1] lg:h-[50vh] lg:max-w-min"
		>
			<Carousel client:visible images={images} />

			<Card.Root shape="square" className="col-span-12 lg:col-span-5">
				<Text.P
					className="m-auto max-w-prose px-4 text-sm leading-relaxed text-off-white-200"
				>
					{t("index.section-3.text")}
				</Text.P>
				<Button
					variant="alternative"
					as={Link.Nav}
					href={`${lang}/about`}
					fullWidth
					className="group scale-95 rounded-xl transition-transform hover:scale-100"
				>
					{t("index.section-3.cta-button")}
					<ArrowRight className="transition-transform group-hover:translate-x-2" />
				</Button>
			</Card.Root>
		</Grid>
	</VStack>
</SectionLayout>

<style>
	.bg-gradient {
		background: radial-gradient(
			128.5% 107.13% at 50% 2.92%,
			transparent 55%,
			hsla(var(--brand)) 78.65%,
			hsl(var(--off-white-100)) 100%
		);
	}
</style>
