---
import Callout from "./callout.astro";

import BgGradient from "~/components/bg-gradient.astro";
import {
	Center,
	CTAButton,
	Flex,
	Grid,
	HStack,
	Section as SectionLayout,
	Text,
} from "~/components/ui";
---

<!-- TODO add content -->
<SectionLayout className="relative">
	<BgGradient />

	<Center className="absolute left-0 h-full w-screen lg:w-[50vw]">
		<HStack className="max-w-prose gap-y-20 px-8 lg:pl-11">
			<Flex className="gap-6 text-center lg:text-start">
				<Text.H1
					gradient="to-top"
					className="from-off-white-300 to-off-white-100 font-inter font-bold leading-tight tracking-tight"
				>
					Construim roboti si o facem bine
				</Text.H1>
				<Text.P className="text-sm text-text-secondary lg:text-base">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse officia
					exercitationem, enim cumque adipisci porro ut aspernatur eum, est iusto tempora
					inventore at, quam minus possimus nisi voluptates! Cumque?
				</Text.P>

				<CTAButton href="/work">Descopera proiectele noastre</CTAButton>
			</Flex>

			<Grid cols={2} rows={2} className="w-full gap-6 lg:gap-8">
				<Callout title="Title 1" subtitle="some small text" />
				<Callout title="Title 2" subtitle="some small text" />
				<Callout title="Title 3" subtitle="some small text" />
				<Callout title="Title 4" subtitle="some small text" />
			</Grid>
		</HStack>
	</Center>

	<!-- TODO add code-block -->
	<div
		class="absolute right-0 top-[10vh] hidden h-[90vh] w-[35vw] rounded-lg border border-border bg-dark-blue-900/90 p-8 ring-2 ring-off-white-900/20 lg:block"
	>
		code
	</div>
</SectionLayout>
