---
import Head from "~/components/head.astro";
import type { Props as HeadProps } from "~/components/head.astro";

// Font imports
import "@fontsource/dm-mono";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

export type Props = HeadProps;

const { ...head } = Astro.props;

const { lang } = Astro.params;
---

<!DOCTYPE html>
<html
	lang={lang}
	dir="auto"
	class="bg-background font-dm-mono text-foreground [color-scheme:dark] [word-break:break-word]"
>
	<Head {...head} />

	<body class="relative">
		<!-- Header -->

		<main class="z-10">
			<slot />
		</main>

		<!-- Footer -->
	</body>
</html>
