---
import Head from "~/components/head.astro";
import type { Props as HeadProps } from "~/components/head.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;

const { lang } = Astro.params;
---

<!DOCTYPE html>
<html lang={lang} dir="auto" class="[color-scheme:dark] [word-break:break-word]">
	<Head {...head} />

	<body>
		<!-- Header -->

		<main>
			<slot />
		</main>

		<!-- Footer -->
	</body>
</html>
