---
import "~/styles/globals.css";

// Font imports
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-mono/500.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

import Footer from "~/components/footer.astro";
import Head, { type Props as HeadProps } from "~/components/head.astro";
import Header from "~/components/header.astro";
import { cn } from "~/lib";
import type { Theme } from "~/lib/theme";

export type Props = HeadProps & { theme?: Theme | undefined };

const { theme = "default", ...head } = Astro.props;

const background = {
	"bg-white": theme === "form",
	"bg-background": theme === "default",
};

const { lang } = Astro.params;
---

<!doctype html>
<html
	lang={lang}
	dir="auto"
	class={cn(
		"scroll-smooth font-dm-mono text-foreground [color-scheme:dark] [word-break:break-word]",
		background,
	)}
>
	<Head {...head} />

	<body class={cn("relative w-screen", background)}>
		<Header theme={theme} />

		<main class="z-10 mb-[90vh] w-screen lg:mb-[60vh]">
			<slot />

			<div class="bg-off-white-100">
				<div class={cn("h-[82px] w-screen rounded-b-2xl lg:h-[90px]", background)}></div>
			</div>
		</main>

		<Footer />

		<!-- Cloudflare Web Analytics -->
		<script
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "5224c4d3bbc84daab81413a1cb530672"}'></script>
		<!-- End Cloudflare Web Analytics -->
	</body>
</html>
