---
import "~/styles/globals.css";

// Font imports
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-mono/500.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

import Head from "~/components/head.astro";
import type { Props as HeadProps } from "~/components/head.astro";
import Header from "~/components/header.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;

const { lang } = Astro.params;
---

<!DOCTYPE html>
<html
	lang={lang}
	dir="auto"
	class="bg-background font-dm-mono text-foreground [color-scheme:dark] [word-break:break-word]"
>
	<Head {...head} />

	<body class="relative">
		<Header />

		<main class="z-10">
			<slot />
		</main>

		<!-- TODO create footer -->
		<!-- Footer -->

		<script>
			import { currentURLAtom } from "../../lib/current-url";
			currentURLAtom.set(window.location.pathname);
		</script>
	</body>
</html>
