---
import "~/styles/globals.css";

// Font imports
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-mono/500.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

import Footer from "~/components/footer.astro";
import Head, { type Props as HeadProps } from "~/components/head.astro";
import Header from "~/components/header.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;

const { lang } = Astro.params;
---

<!DOCTYPE html>
<html
	lang={lang}
	dir="auto"
	class="scroll-smooth bg-background font-dm-mono text-foreground [color-scheme:dark] [word-break:break-word]"
>
	<Head {...head} />

	<body class="relative">
		<Header />

		<main class="z-10 mb-[90vh] lg:mb-[60vh]">
			<slot />

			<div class="bg-off-white-100">
				<div class="h-[82px] w-screen rounded-b-2xl bg-background lg:h-[90px]"></div>
			</div>
		</main>

		<Footer />
	</body>
</html>
